.current-price-table {
  &--table {
    padding: 0;

    h2, h6 {
      padding: 0 $padding;
    }

    img {
      display: block;
      height: 70px;
      width: 70px;
    }

    &__div {
      align-items: center;
      border-bottom: 1px solid rgba($green3, .5);
      display: flex;
      height: 100px;
      justify-content: space-between;

      h3 {
        width: 50%;
      }

      h4 {
        width: 35%;
      }
    }

    &__span {
      font-size: 1.4em;
    }
  }
}