@import '../../node_modules/jeet/styl/index.styl'
@import './vars.styl'

body
  background-color $gray-1
  font-family: 'Avenir', Helvetica, Arial, sans-serif;

a
  color $black
  font-size $font-med
  text-decoration none
  
  &:visited
    color $black
    
button
  background lighten($primary-color, 15%)
  border 1px solid transparent
  color $white
  font-size $font-sml
  font-weight 200
  height 40px
  min-width 100px
  padding 10px
  position relative
  text-align: center;
  transition 0.5s all
  vertical-align: middle;
  white-space: nowrap;
  
  &:hover
    background lighten($primary-color, 25%)
    border 1px solid lighten($primary-color, 15%)
    cursor pointer
    transition 0.5s all

input, textarea
  box-sizing border-box

form
  column(1)
  float none
  position relative

  input, textarea
    column(1)
    font-size $font-input
    height 40px
    padding 5px 10px

  label
    column(1)
    font-size $font-sml
    font-weight 600
    margin-top 5px

  .input-group
    display block
    height 60px
    margin-bottom 10px
    position relative
