/* Colors */
$primary-color = #183e7d
$gray-1 = #f2f2f2
$gray-2 = #dddddd
$white = #ffffff
$black = #000000
$warning = #ff3232
$success = #6bc674

/* Font */
$font-lrg = 24px
$font-med = 18px
$font-sml = 12px
$font-input = 14px

/* Width */
$container-width = 732px

/* a {
  color: #42b983; color: #2c3e50;
}*/