.table__container {
  width: 100%;
}

.table {
  width: 100%;
}

.table__head__th,
.table__td {
  font-size: 1.25rem;
  padding: 10px 5px;
  text-align: left;
}

.table__td {
  border-bottom: 1px solid $gray4;
}