.landing-page {
  @include rb-grid-container();

  background-color: $white;
}

.landing-page__header {
  @include bump(1);

  align-content: center;
  display: flex;
  justify-content: space-between;
}