.navigation-page {
  background-color: $bluePrimary;
  color: $white;

  /* @include MediaQueries($mobile) {
    height: 50px;
  } */
}

.navigation-page__header {
  @include rb-flex-container();

  align-items: center;
  justify-content: space-between;

  > div {
    font-size: 2rem;
  }

  // @media only screen and (max-width: $breakpoint-sm) {
  @include MediaQueries($mobile) {
    > div {
      font-size: 0.9rem;
    }

    > h1 {
      margin: 10px 0;
    }
  }
}

.navigation-page__header--accent {
  font-size: 1rem;
}

.navigation-page--hide-mobile {
  @include MediaQueries($mobile) {
    display: none;
  }

  @include MediaQueries($tablet-and-above) {
    display: inline;
  }
}

.navigation-page--show-mobile {
  @include MediaQueries($mobile) {
    display: inline;
  }

  @include MediaQueries($tablet-and-above) {
    display: none;
  }
}

.navigation-page--padding {
  padding: 10px;
}

.navigation-page__a {
  color: $white;
  text-decoration: none;
}