// Colors
$black: #000;
$gray1: #f3f3f3;
$gray2: #e9e9e9;
$white: #fff;

$purple3: #6f58c9;
$purple2: #7e78d2;
$purple1: #b6b8d6;
$green2: #bbdbd1;
$green1: #bdede0;

// Spacing
$padding: 15px;
$margin: 15px;
$borderRadius: 4px;

// Timing
$transition: 400ms;
$defaultTransition: all $transition;
