// Colors
$gray1: #efefef;

/* Grid Vars */
$columns: 12;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$screen-sm: 546px;
$screen-md: 750px;
$screen-lg: 970px;
$screen-xl: 1170px;
