// Colors
$black: #000;
$gray1: #f5f5f5;
$gray2: #ebebeb;
$white: #fff;

// NEW COLORS
$purple3: #6f58c9;
$purple2: #7e78d2;
$purple1: #b6b8d6;

$midnight: #2A1F2D;
$eggplant: #3B2C35;
$green3: #5B6C5D;
$green2: #59C9A5;
$green1: #56E39F;

// Spacing
$padding: 15px;
$margin: 15px;
$borderRadius: 4px;

// Timing
$transition: 400ms;
$defaultTransition: all $transition;
